body {
    font-family: "Trebuchet MS";
    background-image: url("/kepek/hatter/hatterkep.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#jatekter {
    margin-right: 50px;
    margin-left: 50px;
    width: 450px;
    height: 450px;
    border: 5px solid rgba(255, 20, 147, 0.3);
    background: #dabffa;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}

#jatekter img {
    padding: 2.5px 2.5px 2.5px 2.5px;
    width: 40px;
    height: 40px;
}

.disabled {
    pointer-events: none;
    user-select: none;
}

#jatekter img:hover {
    animation: breathing 1s ease-out infinite normal;
}

@keyframes breathing {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1.5);
    }
    75% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

.flexbox {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}

.flexbox > div {
    font-size: 20px;
    margin: 10px;
    padding: 20px;

}

.begyujtott {
    background: pink;
    width: 20%;
    border: 5px solid rgba(255, 20, 147, 0.3);
    border-radius: 20px;
    font-size: 40px;
}

.begyujtott img {
    width: 30px;
    height: 30px;
}

.toplista {
    background: lightblue;
    width: 20%;
    border: 5px solid rgba(255, 20, 147, 0.3);
    border-radius: 20px;
}

#startGomb {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #f000a4;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgba(240, 0, 164, 0.44);
}

#startGomb:hover {
    background: rgba(240, 0, 164, 0.6);
}

#startGomb:active {
    transform: translateY(4px);
}

#zene {
    border: none;
    background: none;
    float: right;
}

.szaz {
    animation: elert 1s linear;
}

@keyframes elert {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
    }
}

#vaszon {
    margin-left: 20%;
    margin-right: 20%;
}

#hint{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #f000a4;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgba(240, 0, 164, 0.44);
}
#hint:hover {
    background: rgba(240, 0, 164, 0.6);
}

#hint:active {
    transform: translateY(4px);
}
